{% extends 'viewer/base.html' %}

{% block title %}404 Not Found{% endblock %}

{% block tab %}
    <li role="tab" aria-selected="true">
        <a href="#">404 Not Found</a>
    </li>
{% endblock %}

{% block content %}
    <p>
        The requested resource was not found on this server.
    </p>
{% endblock %}
