<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://unpkg.com/98.css" />
        <title>{% block title %}{% endblock %} :: The Microsoft KnowledgeBase Archive</title>
    </head>
    <body>
        <div class="window">
            <div class="title-bar">
                <div class="title-bar-text">The Microsoft KnowledgeBase Archive</div>
            </div>
            <div class="window-body">
                <menu role="tablist">
                    <li role="tab" aria-selected="{% if tab == 'categories' %}true{% else %}false{% endif %}">
                        <a href="{% url 'view_categories' %}">Categories</a>
                    </li>
                    <li role="tab" aria-selected="{% if tab == 'statistics' %}true{% else %}false{% endif %}">
                        <a href="{% url 'statistics' %}">Statistics</a>
                    </li>
                    <li role="tab" aria-selected="{% if tab == 'search' %}true{% else %}false{% endif %}">
                        <a href="{% url 'search' %}">Search</a>
                    </li>
                    <li role="tab" aria-selected="{% if tab == 'help' %}true{% else %}false{% endif %}">
                        <a href="{% url 'help' %}">Help</a>
                    </li>
                    {% block tab %}{% endblock %}
                </menu>
                <div class="window" role="tabpanel">
                    <div class="window-body">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
            <div class="status-bar">
                {% block status %}{% endblock %}
                <p class="status-bar-field">
                    Powered by
                    <a href="https://gitlab.com/huntertur/helparchive">helparchive</a>
                </p>
            </div>
        </div>
    </body>
</html>
