{% extends "viewer/base.html" %}

{% block title %}{{ category.name }}{% endblock %}

{% block tab %}
    <li role="tab" aria-selected="true">
        <a href="#">{{ category.name }}</a>
    </li>
{% endblock %}

{% block content %}
    <div class="sunken-panel">
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th style="width: 6em;">
                        <a href="?sort=original_id">Article ID</a>
                    </th>
                    <th>
                        <a href="?sort=title">Title</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents %}
                    <tr>
                        <td>{{ document.original_id }}</td>
                        <td>
                            <a href="{% url 'view_best' document.id %}">
                                {{ document.title }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block status %}
    <p class="status-bar-field">
        {{ documents|length }} item(s)
    </p>
{% endblock %}
