{% extends "viewer/base.html" %}

{% block title %}Categories{% endblock %}

{% block content %}
    <ul class="tree-view">
        {% for category in categories %}
            {% if not category.redirect_to %}
                <li>
                    <a href="{% url 'view_category' category.id %}">
                        {{ category.name }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

{% block status %}
    <p class="status-bar-field">
        {{ categories|length }} item(s)
    </p>
{% endblock %}
