{% extends 'viewer/base.html' %}

{% block title %}Check Small Variants{% endblock %}

{% block tab %}
    <li role="tab" aria-selected="true">
        <a href="#">Check Small Variants</a>
    </li>
{% endblock %}

{% block content %}
    <form action="/check/small" method="post">
        {% csrf_token %}

        <div class="sunken-panel">
            <table style="width: 100%;">
                <thead>
                    <tr>
                        <th style="width: 6em;">Variant ID</th>
                        <th style="width: 6em;">Content Length</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>
                                <a href="{% url 'view_variant' item.id %}">
                                    {{ item.id }}
                                </a>
                            </td>
                            <td>{{ item.content_len }} bytes</td>
                            <td>
                                <select name="option-{{ item.id }}">
                                    <option value="1">Unreviewed</option>
                                    <option value="2">Reviewed</option>
                                    <option value="3">Hidden</option>
                                </select>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <input type="submit" value="Review" />
    </form>
{% endblock %}

{% block status %}
    <p class="status-bar-field">
        {{ items|length }} item(s)
    </p>
{% endblock %}
