{% extends 'viewer/base.html' %}

{% block title %}Help{% endblock %}

{% block content %}
    <p>
        The Microsoft KnowledgeBase Archive is a collection of technical notes
        written and formerly published by Microsoft before they were removed
        from its website. These articles contain a wealth of information
        essential to the research and use of outdated computer systems.
    </p>
    <p>
        Articles are collected from <em>sources</em>, which are either mass
        imported into the archive or entered one-by-one. Their contents
        are tracked as revisions, or <em>variants</em>. A <em>document</em> is
        an article's metadata and tracked variants; by default, the variant
        with the most recent revision date is displayed when a document is
        requested. Documents are placed in one or more <em>categories</em>.
    </p>
    <p>
        To browse the archive, select the Categories tab, choose a category,
        and select any articles you desire. The best variant for each document
        will be displayed. Article listings are sorted by title by default,
        but they can be sorted by article ID. If the article ID of the
        desired document is already known, select the Search tab, then enter
        the article ID into the Quick Lookup form. Alternatively, enter the
        article ID into the Variant Listing form to view all tracked variants.
    </p>
    <p>
        Efforts are made to reconcile errors present in the original sources,
        such as duplicate and misnamed items. Please send any feedback about
        the archive, including suggestions and troubles, to one of these
        locations:
    </p>
    <ul>
        <li>
            About the interface:
            <a href="https://gitlab.com/huntertur/helparchive/-/issues/new">
                File an issue
            </a>
        </li>
        <li>
            About the contents:
            <a href="https://huntertur.net/contact.html">
                Contact the maintainer
            </a>
        </li>
    </ul>

    <hr />

    <p>
        Superusers may improve the archive in the following ways:
    </p>
    <ul>
        <li>
            <a href="/check/small">Check suspiciously small variants</a>
        </li>
        <li>
            <a href="/admin">Correct individual documents</a>
        </li>
        <li>
            <a href="/upload/chm">Import CHM-based sources</a>
        </li>
        <li>
            <a href="/upload/txt_zip">Import text-based sources</a>
        </li>
        <li>
            <a href="/merge">Merge duplicate categories</a>
        </li>
    </ul>
{% endblock %}
