{% extends 'viewer/base.html' %}

{% block title %}Not logged in{% endblock %}

{% block tab %}
    <li role="tab" aria-selected="true">
        <a href="#">Not logged in</a>
    </li>
{% endblock %}

{% block content %}
    <p>
        You are not logged in and cannot access this page.
    </p>
{% endblock %}
