{% extends 'viewer/base.html' %}

{% block title %}Merge{% endblock %}

{% block tab %}
    <li role="tab" aria-selected="true">
        <a href="#">Merge</a>
    </li>
{% endblock %}

{% block content %}
    <p>{{ message }}</p>
    <form action="/merge" method="post">
        {% csrf_token %}

        <label for="surviving_id">Surviving Category</label>
        <select name="surviving_id">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <br />

        <label for="redirected_id">Eaten Category</label>
        <select name="redirected_id">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <br />

        <input type="submit" value="Merge" />
    </form>
{% endblock %}
