{% extends 'viewer/base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
    <form action="document/" method="get">
        <fieldset>
            <legend>Quick Lookup</legend>
            <label for="kbid">Article ID</label>
            <input name="kbid" type="text" />
            <input type="submit" />
        </fieldset>
    </form>
    <form action="variants/" method="get">
        <fieldset>
            <legend>Variant Listing</legend>
            <label for="kbid">Article ID</label>
            <input name="kbid" type="text" />
            <input type="submit" />
        </fieldset>
    </form>
{% endblock %}
