{% extends 'viewer/base.html' %}

{% block title %}Upload Text{% endblock %}

{% block tab %}
    <li role="tab" aria-selected="true">
        <a href="#">Upload Text</a>
    </li>
{% endblock %}

{% block content %}
    <p>{{ message }}</p>
    <form action="/upload/txt_zip" enctype="multipart/form-data" method="post">
        {% csrf_token %}

        <label for="zip">Zip Archive</label>
        <input type="file" name="zip" />
        <br />

        <label for="source">Source</label>
        <input type="text" name="source" />
        <br />

        <input type="submit" value="Upload" />
    </form>
{% endblock %}
