{% extends 'viewer/base.html' %}

{% block title %}Upload CHM{% endblock %}

{% block tab %}
    <li role="tab" aria-selected="true">
        <a href="#">Upload CHM</a>
    </li>
{% endblock %}

{% block content %}
    <p>{{ message }}</p>
    <form action="/upload/chm" enctype="multipart/form-data" method="post">
        {% csrf_token %}

        <label for="chm">CHM File</label>
        <input type="file" name="chm" />
        <br />

        <label for="chi">CHI File</label>
        <input type="file" name="chi" />
        <br />

        <label for="chm">Type</label>
        <select name="type">
            <option name="1998">1998</option>
            <option name="1999">1999</option>
        </select>
        <br />

        <label for="source">Source</label>
        <input type="text" name="source" />
        <br />

        <input type="submit" value="Upload" />
    </form>
{% endblock %}
