{% extends "viewer/base.html" %}

{% block title %}{{ document.title }}{% endblock %}

{% block tab %}
    <li role="tab" aria-selected="true">
        <a href="#">{{ document.title }}</a>
    </li>
{% endblock %}

{% block content %}
    <p>Article ID: {{ document.original_id }}</p>
    <div class="sunken-panel">
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th style="width: 6em;">Revised At</th>
                    <th style="width: 6em;">Content Type</th>
                    <th style="width: 12em;">Source</th>
                    <th>Hidden?</th>
                </tr>
            </thead>
            <tbody>
                {% for variant in variants %}
                    <tr>
                        <td>
                            <a href="{% url 'view_variant' variant.id %}">
                                {{ variant.revised_at }}
                            </a>
                        </td>
                        <td>{{ variant.content_type }}</td>
                        <td>{{ variant.source }}</td>
                        <td>{% if variant.visibility == 3 %}Yes{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block status %}
    <p class="status-bar-field">
        {{ variants|length }} item(s)
    </p>
{% endblock %}
